@{

    ViewData["Title"] = "Package Information";

}

<div id="pageContent" style="padding-left:10px;">

    <h3> European Halal Tours Packages </h3>

    <p>Under construction. Please come back later.</p>

</div>


