@{

    ViewData["Title"] = "Package Information";

}

<style type="text/css">

    .eht-product-list {
        color: #ffffff;
        list-style: none;
        padding: 0;
        list-style-type: none;
    }

        .eht-product-list li {
            height: 450px;
            width: 100%;
            padding: 10px;
            cursor:pointer;
            font-size: 25px;
            font-weight:bold;
        }


        .eht-product-list .g1 {
            background: rgba(68, 68, 68, 0.80) /* 70% opaque red */
        }
        .eht-product-list .g2 {
            background: rgba(112, 112, 112, 0.80) /* 70% opaque red */
        }

</style>

<h3> Packages Available </h3>

<ul class="eht-product-list">

    <li class="g1" id="d8n74c">
        <span style="opacity:1; color:#ffffff;">8 Days and 7 Nights 4 Countries</span>
        <div>
            <img src="~/images/bg/london01.png" />
        </div>
    </li>
    <li class="g2" id="d8n75c">            
        <span style="opacity:1; color:#ffffff;">8 Days and 7 Nights 5 Countries</span>
        <div>
            <img src="~/images/bg/london01.png" />
        </div>
    </li>
    <li class="g1" id="d8n76c">8 Days and 7 Nights 6 Countries</li>
    <li class="g2" id="d10n76c">10 Days and 7 Nights 6 Countries</li>
    <li class="g1" id="d11n96c">11 Days and 9 Nights 6 Countries</li>
    <li class="g2" id="d11n106c">11 Days and 10 Nights 6 Countries (Luxembourgh)</li>
    <li class="g1" id="d12n9LA">12 Days and 9 Nights London - Amsterdam</li>
    <li class="g1" id="ParAm">Paris - Amsterdam tour</li>

</ul>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $('#d8n74c').click(function () {
                location.href = '/Package/PackageDetails';
            });

        });

    </script>

}



