
<link rel="stylesheet" href="~/css/parallax/base.css">
<link rel="stylesheet" href="~/css/parallax/style.css">

<div class="wrapper">

    <main>

        <section class="module parallax parallax-1">
            <div class="container">
                <h1>Day 1</h1>
            </div>
        </section>
        <section class="module content">
            <div class="container">
                <h2>London</h2>
                <p>
                    You will meet your Tour Leader upon arrival at London Heathrow Airport.  We will start our tour with a visit to Bicester Village. This is the premier designer outlet in the UK, located in Oxfordshire. We will then proceed to our hotel in London.
                </p>
            </div>
        </section>
        <section class="module parallax parallax-2">
            <div class="container">
                <h1>Day 2</h1>
            </div>
        </section>
        <section class="module content">
            <div class="container">
                <h2>London</h2>
                <p>This morning we will go for a guided Panoramic City Tour of London. The tour will highlight London Eye, Big Ben, Houses of Parliament, Buckingham Palace, Tower Bridge, and to end the day an afternoon of shopping at Oxford Street. We will then stay at our London hotel. Evening meal is served upon arrival at Hotel.</p>
            </div>
        </section>
        <section class="module parallax parallax-3">
            <div class="container">
                <h1>Day 3</h1>
            </div>
        </section>
        <section class="module content">
            <div class="container">
                <h2>London – Antwerp</h2>
                <p>Breakfast at Hotel. This morning, at the check-in point, you will meet your Tour Leader and join the coach for a leisurely drive from London to Folkestone or Dover, for the short channel crossing to Calais by Eurotunnel Le Shuttle or Ferry. Once we arrive in Calais (France) we will proceed to Antwerp. Continuing our drive, we reach our overnight stop and check-in at our hotel. Evening meal is served upon arrival at Hotel.</p>
            </div>
        </section>

        <section class="module parallax parallax-4">
            <div class="container">
                <h1>Day 4</h1>
            </div>
        </section>
        <section class="module content">
            <div class="container">
                <h2>Antwerp – Amsterdam</h2>
                <p>Its spring time! And this is your only chance to visit the famous Garden of Europe, Keukenhof. (April/May only). Discover the many coloured varieties of Tulips available there. We will spend a few hours there before moving to our next location where you can find Holland’s famous landmark, the Windmills at Zaanse Schans. Next, enjoy a Traditional Cheese-Making demonstration, and learn about how that most quirky and quaint of footwear choices – the clog – is made. Once done, we will be visiting the Harbour of Volendam. Volendam is a pretty fishing village well known for its characteristic, authentic houses and please take the chance to taste the delicious seafood and buy souvenirs at the shops nearby. In the evening we will proceed to our Hotel. Packed halal meal served upon arrival.</p>
            </div>
        </section>

        <section class="module parallax parallax-5">
            <div class="container">
                <h1>Day 5</h1>
            </div>
        </section>
        <section class="module content">
            <div class="container">
                <h2>Amsterdam - Rotterdam – Brussels</h2>
                <p>Breakfast at hotel. We will spend this morning at the Modern City of Rotterdam. This city suffered terrible damage in World war 2 and was rebuilt the city is now known for its bold, modern architecture. We will have the opportunity to visit the Rotterdam mosque. We will then proceed to our hotel near Brussels.</p>
            </div>
        </section>

        <section class="module parallax parallax-6">
            <div class="container">
                <h1>Day 6</h1>
            </div>
        </section>
        <section class="module content">
            <div class="container">
                <h2>Brussels</h2>
                <p>Today, we depart after breakfast. We will join the coach for a leisurely drive from Amsterdam.  On arrival, we proceed to Brussels, the capital of Belgium and the seat of several European Union institutions including the European Commission and Parliament. We first stop at the most iconic structure of Brussels, the Atomium for photos. We will visit Mini Europe where you can experience the beautiful miniature cities of Europe. We will then have the opportunity to explore Brussels city centre, where we will see the Grand Palace and have a chance to sample a tasty Belgian Waffle!  Continuing our journey, we proceed to our hotel and check-in for an over-night stay. Evening meal is served upon arrival at Hotel</p>
            </div>
        </section>

        <section class="module parallax parallax-7">
            <div class="container">
                <h1>Day 7</h1>
            </div>
        </section>
        <section class="module content">
            <div class="container">
                <h2>Brussels – Paris</h2>
                <p>Today, after breakfast at our Hotel We will stop at one of the top shopping districts in the world at La Vallée Retail Park. La Vallee Village is the most successful outlet shopping destination in France. Located near Disneyland Paris. Host to Armani, Coach, Jimmy Choo, Dolce & Gabbana and many more. La Vallée Village has over 110 boutiques of French and international luxury brands. In the evening we will proceed to our Hotel. Packed halal meal served upon arrival</p>
            </div>
        </section>

        <section class="module parallax parallax-8">
            <div class="container">
                <h1>Day 8</h1>
            </div>
        </section>
        <section class="module content">
            <div class="container">
                <h2>Paris</h2>
                <p>Today you will visit the famous sites in the City of Paris, 'The City of Lights and Love'. We will introduce you to the metropolis. In the morning we will spend time at the iconic Eiffel Tower which is a beautiful area for walking, sightseeing or simply relaxing. Around lunchtime we will visit the majestic Cathedral Notre Dame, there are plenty of halal restaurants nearby for you to get lunch. Later you will get the chance to shop at one of the top shopping streets in the world at The Champs Ellysees. The Arch de Triumph is located at Champs Ellysees. At the end of the day we will proceed to Paris CDG Airport where our tour ends, and it is time to say farewell to all the friends you have made on tour.</p>
            </div>
        </section>

    </main><!-- /main -->    

</div><!-- /#wrapper -->


@section Scripts {

    <script src="~/js/parallax/modernizr.js"></script>
    <script src="~/js/parallax/demo.js"></script>
    @*<script src="~/js/parallax/fusionad.js"></script>*@

}
