<div style="padding: 10px;">

    <h4>
        Thank you for register with us. We will contact you shortly and we can't wait to serve your needs.
    </h4>

    <a href="/">Go back to main page</a>

</div>
