@{

    ViewData["Title"] = "Gallery";

}

<link href="~/css/image-gallery.css" rel="stylesheet" />

<div id="pageContent" style="padding-left:10px;" class="container">

    <h3> European Halal Tours Gallery </h3>
    
    <ul class="row">
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img001.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img002.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img003.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img004.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img005.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img006.jpg">
        </li>    
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img007.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img008.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img009.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img010.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img011.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img012.jpg">
        </li>    
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img013.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img014.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img015.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img016.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img017.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img018.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img019.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img020.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img021.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img022.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img023.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img024.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img025.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img026.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img027.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img028.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img029.jpg">
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin:10px;">
            <img class="img-responsive" src="~/images/gallery/img030.jpg">
        </li>
    </ul>


</div>

<div class="modal fade" id='myModal' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"> </div>
        </div>
    </div>
</div>


@section Scripts {    

    <script src="~/js/photo-gallery.js"></script>

}


