@{
    ViewData["Title"] = "About European Halal Tours";
}

<div style="padding:10px;">

    <h2>@ViewData["Title"].</h2>
    @*<h3>@ViewData["Message"]</h3>*@

    <p>Under construction. Please come back later.</p>

</div>



