@{
    ViewData["Title"] = "Contact Us";
}

<div style="padding:10px;">

    <h2>@ViewData["Title"].</h2>
    @*<h3>@ViewData["Message"]</h3>*@

    <h3>Please use below contacts for any enquiry:</h3>

    @*<address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>*@

    <address>
        <strong>Info:</strong> <a href="mailto:info@europeanhalaltours.com">info@europeanhalaltour.com</a>
        <br /><br />
        <strong>Sales:</strong> <a href="mailto:sales.ehtours@gmail.com">sales.ehtours@gmail.com</a> / <a href="mailto:sales@europeanhalaltour.com">sales@europeanhalaltour.com</a>
        <br /><br />
        <strong>Support:</strong> <a href="mailto:admin@europeanhalaltour.com">admin@europeanhalaltour.com</a>

    </address>

</div>


