@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/normalize.css" rel="stylesheet" />
<link href="~/css/main.css" rel="stylesheet" />
<script src="~/js/vendor/modernizr-2.7.1.min.js"></script>

<div id="preload">
    <img src="/images/bcg_slide-1.jpg">
    <img src="/images/bcg_slide-2.jpg">
    <img src="/images/bcg_slide-3.jpg">
    <img src="/images/bcg_slide-4.jpg">
</div>

<main>

    <section id="slide-1" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-anchor-target="#slide-1">
            <div class="hsContainer">

                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active" style="height:500px; overflow:hidden;">
                            <img src="~/images/img001.jpg" alt="ASP.NET" class="img-responsive" style="width:100%;" />
                            <div class="carousel-caption" role="option">
                                @*<p>
                                    Good tour packages available!
                                </p>*@
                            </div>
                        </div>
                        <div class="item" style="height:500px; overflow:hidden;">
                            <img src="~/images/img002.jpg" alt="Visual Studio" class="img-responsive" style="width:100%;" />
                            @*<div class="carousel-caption" role="option">
                                <p>
                                    There are powerful new features in Visual Studio for building modern web apps.
                                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                                        Learn More
                                    </a>
                                </p>
                            </div>*@
                        </div>
                        <div class="item" style="height:500px; overflow:hidden;">
                            <img src="~/images/img003.jpg" alt="Package Management" class="img-responsive" style="width:100%;" />
                            @*<div class="carousel-caption" role="option">
                                <p>
                                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                                        Learn More
                                    </a>
                                </p>
                            </div>*@
                        </div>
                        <div class="item" style="height:500px; overflow:hidden;">
                            <img src="~/images/img004.jpg" alt="Microsoft Azure" class="img-responsive" style="width:100%;" />
                            @*<div class="carousel-caption" role="option">
                                <p>
                                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                                        Learn More
                                    </a>
                                </p>
                            </div>*@
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="hsContent"
                     data-center="bottom: 100px; opacity: 1"
                     data-top="bottom: 1200px; opacity: 0"
                     data-anchor-target="#slide-1 h2">
                    <h2>Welcome to European Halal Tours...</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-2" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;"
             data-anchor-target="#slide-2">
            <div class="hsContainer">
                <div class="hsContent"
                     data-center="opacity: 1"
                     data-center-top="opacity: 0"
                     data--100-bottom="opacity: 0;"
                     data-anchor-target="#slide-2">
                    <h2>We offer great value for your travelling...</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-3" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;"
             data-anchor-target="#slide-3">
            <div class="hsContainer">
                <div class="hsContent"
                     data--50-bottom="opacity: 0;"
                     data--200-bottom="opacity: 1;"
                     data-center="opacity: 1"
                     data-200-top="opacity: 0"
                     data-anchor-target="#slide-3 h2">
                    <h2>Create unforgetable memories with your family and friends...</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-4" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;"
             data-anchor-target="#slide-4">
            <div class="hsContainer">
                <div class="hsContent"
                     data-bottom-top="opacity: 0"
                     data-25p-top="opacity: 0"
                     data-top="opacity: 1"
                     data-anchor-target="#slide-4">
                    <h2>What are you waiting for? Contact us at info@europeanhalaltours.com to get more info!</h2>

                </div>
            </div>
        </div>
    </section>

</main>

@section Scripts {

    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/skrollr.js"></script>
    <script src="~/js/_main.js"></script>

}


