@{
    ViewData["Title"] = "Introduction";
}


<div class="container container-fluid">

    <div style="padding:10px; font-size:18px; background-color:#fff; color:#161616;">

        <h4><span style=""><u>INTRODUCTION</u></span></h4>
        Greeting From <span style="color:black;">European Halal Tours</span> Company!!<br /><br />

        We feel obliged to introduce our ambitious venture "<span style="color:#8a5900;">European Halal Tours</span>" as an entity
        which takes care of any tour and travel requirement of esteemed clients at global level. <br /><br />

        Since inception, in <span style="color:#cbce07;">2008</span>, European Halal Tours has been venturing into new geographic arena and making most effort
        to make the best deal available to clients.<br />

        We only do on ground package for Eastern Europe and Western Europe.<br />
        We excel into designing Halal and Muslim friendly packages for domestic, inbound and outbound tourists.<br /><br />
        European Halal Tours is a one-stop enterprise that offers the complete range of travel related services.<br />

        Superior knowledge, efficient planning and the ability to anticipate and resolve potential problems
        along the way are the reasons behind our success. <br /><br />

        Destination in Outbound
        <span style="color:#8a5900">
            London, Paris, Amsterdam, Belgium, Switzerland, Germany, Luxembourg, Slovakia, Slovenia, Hungary,
            Czech Republic, Austria, Italy, Spain, Portugal, Scotland, Greece, Poland.
        </span>

        <br /><br />

        <span style="color:#a5a708">WE MAKE YOUR TRAVEL FUN, SAFE, ECONOMICAL, INFORMATIVE, COMFORTABLE & MEMORABLE.</span>

        <br /><br />

        To know more about us:<br />
        Facebook 	: <a href="http://www.facebook.com/europeanhalaltoursltd" style="color:#0004c6">www.facebook.com / europeanhalaltoursltd</a>
        @*Website		: www.europeanhalaltour.com*@

        <br /><br />

        We assure you of our best services at all times and looking forward to hear from you soon.

        <br /><br />

        Thanks & Regard, <br />
        <span style="color:#cbce07">Noridah Yahaya – Caldwel</span><br />
        Director<br />
        <span style="color:#cbce07;">European Halal Tours</span>

    </div>

</div>




