@model List<EHT.WebApp.Models.ViewModels.CompanyViewModel>

@{

    ViewData["Title"] = "User Registration Maintenance";

}

<div style="padding: 15px;">

    <table class="table table-inverse">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Remark</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>

            @{

                if (Model != null && Model.Count > 0)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <th scope="row">@Model[i].Name</th>
                            <td>@Model[i].Email</td>
                            <td>@Model[i].PhoneNumber</td>
                            <td>@Model[i].Remark</td>
                            <td>
                                @if (Model[i].HasAccount)
                                {
                                    @:Yes

                                } else
                                {
                                    @:No. <a href="/Account/CreateAccount?Email=@Model[i].Email">Create Account</a>
                                    
                                }

                            </td>
                        </tr>
                    }
                }


            }

        </tbody>
    </table>


</div>

